# haproxy base config, will be enhanced
# with the output of confd.
global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /var/haproxy
  #TODO user haproxy
  #TODO group haproxy

defaults
  log global
  mode http
  option httplog
  timeout connect 5000
  timeout client 5000
  timeout server 5000
  
listen stats :81
  stats enable
  stats uri /
  stats show-desc Docker Sling hosting prototype

backend DEFAULT_BACKEND
  description shouldn't be needed but helps debug issue 1 where HAProxy wrongly selects this backend sometimes
  balance leastconn
  stats enable
  stats uri /
  stats show-desc DEFAULT BACKEND - this page should not appear if URL contains a valid Host name

frontend http_frontend
  bind :80
  mode http
  option httplog
  option contstats
  
# CONFD_OUTPUT

